<!DOCTYPE html>

<html lang="en">
  <head>
    <title>A Template App</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script async src="{{{appclient}}}"></script>
    <script
      async
      type="module"
      src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.esm.js"
    ></script>
    <script
      async
      nomodule
      src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.js"
    ></script>

    <link rel="stylesheet" type="text/css" href="styles/style.css" />
  </head>

  <body>
    <script type="module">
      import { createApp } from 'https://unpkg.com/petite-vue?module';
      var client;
      (async function () {
        client = await app.initialized();
      })();

      function Shorten() {
        return {
          $template: '#shorten-space',
          long_url: '',
          short_url: '',
          last5Urls: [],
          async storeUrls() {
            try {
              let index = 0;
              await client.db.set('last5Urls', {
                index,
                short_url: this.short_url,
              });
              index++;
              return;
            } catch (error) {
              console.error('Storing into platform KV store failed', error);
            }
          },
          async listUrls() {
            try {
              let res = await client.db.get('last5Urls');
              this.last5Urls.push(res);
              console.log(this.last5Urls);
            } catch (error) {
              console.error(
                'Retrieval from the platform KV store failed',
                error,
              );
            }
          },
          async shortenUrl() {
            this.short_url = 'shortening using bitly...';

            try {
              let { response } = await client.request.invokeTemplate(
                'shortenLink',
                {
                  body: JSON.stringify({
                    long_url: this.long_url,
                    cache: true,
                  }),
                },
              );
              let shortenedObj = JSON.parse(response);
              this.short_url = shortenedObj.link;
              this.storeUrls();
            } catch (error) {
              this.short_url = 'shortening failed...';
              console.error('this went wrong', error);
            }
          },
        };
      }

      createApp({
        Shorten,
      }).mount();
    </script>

    <template id="shorten-space">
      <div class="main">
        <div class="inputbox">
          <p>Enter URL to shorten</p>
          <fw-input
            type="url"
            required="true"
            name="long-url"
            v-model="long_url"
            placeholder="https://www.example.com"
            aria-label="long url text"
          ></fw-input>
          <fw-button @click="shortenUrl()" color="secondary" size="normal"
            >Shrink</fw-button
          >
          <fw-button @click="listUrls()" color="link" size="normal"
            >List last 5 shortened URLs</fw-button
          >
        </div>
        <pre>{{short_url}}</pre>
        <ul class="url-list">
          <li v-for="item in last5Urls" :key="item.index">
            {{item.short_url}}
          </li>
        </ul>
      </div>
      <style>
        .inputbox {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-around;
        }

        fw-input {
          width: 100%;
          padding: 0.5rem;
        }

        fw-button {
          width: 75%;
        }

        li {
          list-style: none;
          font-family: 'Courier New';
          color: #0077cc;
        }

        li:hover {
          text-decoration: underline;
        }
      </style>
    </template>

    <div v-scope="Shorten()"></div>
  </body>

  <style>
    html {
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
  </style>
</html>